# PROD ENVIRONMENT - EC2
# Copy this to .env.prod and fill in your values

# Docker Hub
DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}
DOCKERHUB_TOKEN=${{ secrets.DOCKERHUB_TOKEN }}

# Database
MYSQL_ROOT_PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }}
DB_NAME=skillpulse_prod
DB_USER=skillpulse_prod
DB_PASSWORD=${{ secrets.DB_PASSWORD }}

# App
PORT=8080
ENVIRONMENT=prod
